* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(assets/Bg.jpg);
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: monospace;
}

/* Navbar */

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #333;
  padding: 0.5rem;
  flex-wrap: wrap;
}

.navbar #btn {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
}

.navbar #btn:focus {
  outline: none;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
}

.navbar ul a {
  color: #ddd;
  text-decoration: none;
}

.navbar ul a:hover {
  color: #fff;
}

.navbar ul a img {
  height: 1.4rem;
  width: 1.4rem;
  margin: auto 0;
}

.input-area {
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  width: fit-content;
  margin-bottom: 1rem;
}

/* Main area */

main {
  margin-top: 5rem;
  margin-bottom: 2rem;
}

/* Container  */
/* This will display all our content*/

#container {
  background: linear-gradient(to right bottom, #000000b3, #0000004d);
  box-shadow: 0 0 10px #00000075;
  color: #fff;
  overflow: hidden;
  min-height: 400px;
  width: 800px;
  border-radius: 1rem;
  padding: 1rem;
  display: grid;
  justify-content: space-evenly;
  align-items: start;
  grid-template: auto auto / 1fr 1fr;
  row-gap: 0.5rem;
}

/* Defining the dimensions of img in the container, and of no-img call in case ther is no image */

.img {
  border-radius: 0.5rem;
  height: 300px;
  width: 400px;
  object-fit: cover;
  object-position: top;
  justify-self: center;
}

.no-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff5;
}

/* Text and list design here */

.description h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.description span {
  font-weight: bold;
}

.description.other {
  grid-column: 1 / span 2;
}

.description ul {
  list-style: inside;
}

/* Main area ends */

/* Footer */

footer {
  text-shadow: 0px 0px 10px #000;
  font-size: 1rem;
  margin: auto 1rem 0.5rem 0;
  align-self: flex-end;
}
footer span {
  color: #e20c0c;
}
footer a {
  color: #fff;
}

/* For different screen sizes */

@media (max-width: 810px) {
  #container {
    min-height: 400px;
    width: 700px;
  }
  .img {
    height: auto;
    width: 350px;
  }
}

@media (max-width: 720px) {
  .navbar #btn {
    font-size: 1.3rem;
  }
  .img {
    order: 1;
    width: 334px;
  }
  .personal {
    order: 2;
  }
  .other {
    order: 2;
  }
  #container {
    min-height: auto;
    width: 350px;
    padding: 0.5rem;
    grid-template: auto auto 1fr / auto;
  }
  .description.other {
    grid-column: auto;
  }
}
